<!-- FORM VALIDATION -->
<div class="row mt">
    <div class="col-lg-12">
        <h4>
            <i class="fa fa-angle-right"></i>
            Ajouter Produit</h4>
        <div class="form-panel">
            <div class=" form">
                <form class="cmxform form-horizontal style-form" (ngSubmit)="save()" method="get"
                    action="">
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Code Barre (required)</label>
                        <div class="col-lg-10">
                            <input [(ngModel)]="produit.codeBarre" class=" form-control" name="codeBarre" minlength="2" type="text"
                                required />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Designation (required)</label>
                        <div class="col-lg-10">
                            <input [(ngModel)]="produit.designation" class=" form-control" name="designation" minlength="2"
                                type="text" required />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Prix (required)</label>
                        <div class="col-lg-10">
                            <input [(ngModel)]="produit.prix" class=" form-control" name="prix" minlength="2"
                                type="text" required />
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Quantité en Stock (required)</label>
                        <div class="col-lg-10">
                            <input [(ngModel)]="produit.qteStock" class=" form-control" name="qteStock" minlength="2" type="text"
                                required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Enregister</button>
                            <button class="btn btn-theme04" type="button">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form-panel -->
    </div>
    <!-- /col-lg-12 -->
</div>