<!-- cree facture start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mt">
            <div class="col-lg-12">

                <div class="form-panel">
                    <div class="alert alert-danger" role="alert" *ngIf="errorStock?.length">
                        <strong *ngFor="let error of errorStock"> la qte demande de produit {{error.produit.codeBarre }} est    {{error.qteAchetee }} mais la qte en stock est {{error.produit.qteStock}} </strong>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="alerts?.length">
                        <strong *ngFor="let alert of alerts">  la qte en stock  de  {{alert.produit.codeBarre }} est{{alert.produit.qteStock}} </strong>
                    </div>
                    <h4>
                        <i class="fa fa-angle-right"></i> Crée une Facture</h4>
                    <hr>
                    <div class=" form">
                        <form class="cmxform form-horizontal style-form" (ngSubmit)="save(prods,clt)" [formGroup]="myGroup">
                            <mat-form-field>
                                <mat-label>Client</mat-label>
                                <mat-select [(value)]="clt" formControlName="client">
                                    <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="searchC" formControlName="searchC" name="searchC" (keyup)="searchClient()"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let clt of resultClients" [value]="clt">{{ clt?.code + ' (' + clt?.nom + ' ' + clt?.prenom +')' }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <h4>Les produits</h4>
                            <mat-form-field>
                                <mat-label>Produits</mat-label>
                                <mat-select [(value)]="prods" multiple formControlName="prods">
                                    <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="searchP" name="searchP" formControlName="searchP" (keyup)="searchProduit()"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let prod of resultProduits; let i = index" [value]="prod">{{ prod?.designation }}</mat-option>
                                </mat-select>
                            </mat-form-field>



                            <div *ngFor="let pro of prods " class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Quantité achetée (required)</label>
                                <div class="col-lg-10">
                                    <label> {{pro.designation}} </label>
                                    <input class=" form-control" id="{{pro.codeBarre}}" minlength="2" type="text" required/>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">Enregister</button>
                                    <button class="btn btn-theme04" type="button">Annuler</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
    </section>
    <!-- /wrapper -->
</section>

<!--affich facture start-->

<section id="main-content" #htmlData>
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Factures</h3>
        <div class="col-md-4 text-right">
            <button class="btn btn-danger btn-block btn-lg" (click)="downloadPDF()">Download PDF</button><br>
        </div>
        <div class="row mt" *ngFor="let f of  factures">
            <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Num facture :{{f.numeroFacture}} ,Date Factur:{{f.dateFacturation}}, code client: {{f.client.code}}
                    </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Code Produit</th>
                                    <th>des</th>
                                    <th class="numeric">prix H</th>
                                    <th class="numeric">qte achetee</th>
                                    <th class="numeric">total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lf of f.ligneFactures">
                                    <td>{{lf.produit.codeBarre}}</td>
                                    <td>{{lf.produit.designation}}</td>
                                    <td class="numeric">{{lf.produit.prix}} DH</td>
                                    <td class="numeric">{{lf.qteAchetee}}</td>
                                    <td class="numeric">{{lf.produit.prix*lf.qteAchetee}}Dh</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-lg-4 -->
        </div>
        <!-- /row -->

    </section>
    <!-- /wrapper -->

</section>

<!-- /MAIN CONTENT -->
<!--main content end-->