<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> inventaire sur les produits vendus</h4>
                    <hr>
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th> désignation</th>
                                <th> prix actuel</th>
                                <th> demande</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of resultInventaireProduitsVendus">
                                <td>{{i.produit.designation}}</td>
                                <td>{{i.produit.prix}}</td>
                                <td> {{i.demande.response}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- row -->
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Produits</h4>
                    <hr>
                    <input type="text" placeholder="search..." class="form-control input-lg" [(ngModel)]="searchP" name="searchP" (keyup)="searchProduit()">

                    <table class="table table-striped table-advance table-hover" *ngIf="showForm">
                        <thead>
                            <tr>
                                <th> code barre</th>
                                <th> des</th>
                                <th> prix</th>
                                <th> stock</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" [(ngModel)]="pEdit.codeBarre" name="codeBarre"> </td>
                                <td><input type="text" [(ngModel)]="pEdit.designation" name="designation"> </td>
                                <td><input type="text" [(ngModel)]="pEdit.prix" name="prix"> </td>
                                <td><input type="text" [(ngModel)]="pEdit.qteStock" name="qteStock"> </td>
                                <td>
                                    <button (click)="upDate(pEdit)" class="btn btn-primary btn-xs">edit</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th> code barre</th>
                                <th> des</th>
                                <th> prix</th>
                                <th> stock</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of resultProduits ">
                                <td>{{p.codeBarre}} </td>
                                <td>{{p.designation}}</td>
                                <td>{{p.prix}}</td>
                                <td>{{p.qteStock}}</td>
                                <td>
                                    <button (click)="edit(p)" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                    <button (click)="delete(p.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
        <div class="row mt">
            <div class="col-lg-12">
                <h4>
                    <i class="fa fa-angle-right"></i> Ajouter Produit</h4>
                <div class="form-panel">
                    <div class=" form">
                        <form class="cmxform form-horizontal style-form" method="get" action="">
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Code Barre (required)</label>
                                <div class="col-lg-10">
                                    <input [(ngModel)]="produit.codeBarre" class=" form-control" name="codeBarre" minlength="2" type="text" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Designation (required)</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" [(ngModel)]="produit.designation" name="designation" minlength="2" type="text" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Prix (required)</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" [(ngModel)]="produit.prix" name="prix" minlength="2" type="text" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Quantité en Stock (required)</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" [(ngModel)]="produit.qteStock" name="qteStock" minlength="2" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button (click)="save()" class="btn btn-theme" type="submit">Enregister</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
    </section>
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->